<div class="container-fluid">
  <div class="page-header">
    <h1>TrackAliChile <small>Rastrea tus pedidos de Aliexpress Standard Shipping y Correos Chile</small></h1>
  </div>
  <div class="row">
    <div class="col-md-5">
      <form id="correosChileForm" ng-submit="main.trackAliexpress(main.codes.qAli)">
        <div class="input-group">
          <input type="text" class="form-control input-full" placeholder="Insertar código Aliexpress Standard Shipping" ng-model="main.codes.qAli" />
          <span class="input-group-btn">
            <button type="submit" class="btn btn-warning">Localizar en Aliexpress/Cainiao</button>
          </span>
        </div>
      </form>
    </div>
    <div class="col-md-2">
      <button type="button" class="btn btn-expand" ng-click="main.convertCode()">Convertir Código -></button>
    </div>
    <div class="col-md-5">
      <form id="correosChileForm" ng-submit="main.trackCorreosChile(main.codes.qCorreos)">
        <div class="input-group">
          <input type="text" class="form-control input-full" placeholder="Insertar código CorreosChile" ng-model="main.codes.qCorreos" />
          <span class="input-group-btn">
            <button type="submit" class="btn btn-primary">Localizar en CorreosChile</button>
          </span>
        </div>
      </form>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-6">
      <div ng-if="main.processingAli==='loading'">
        <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
        <span class="sr-only">Cargando desde Aliexpress/Cainiao...</span>
      </div>
      <div ng-if="main.processingAli==='done'">
        <ul class="list-group">
          <li class="list-group-item">
            <div class="row">
              <div class="col-md-2">
                <img src="cainiao.png" class="img-responsive img-circle"></img>
              </div>
              <div class="col-md-10">
                <h4>Estado en Aliexpress/Cainiao</h4>
                <ul class="no-bullets">
                  <li><b>ID Origen:</b> {{ main.resultAliexpress.id }}</li>
                  <li><b>ID Destino:</b> {{ main.resultAliexpress.destinyId }}</li>
                  <li><a href="{{ main.resultAliexpress.trackerWebsite }}" target="_blank">Ver en sitio web</a></li>
                </ul>
              </div>
            </div>
          </li>
          <li class="list-group-item" ng-repeat="state in main.resultAliexpress.states">
            <i class="fa fa-plane fa-fw" aria-hidden="true"></i>
            <b>{{ state.state }}</b><br>
            <i>{{ state.date }}</i>
          </li>
        </ul>
        <!--<pre>{{ main.resultAliexpress | json: 2 }}</pre>-->
      </div>
    </div>
    <div class="col-md-6">
      <div ng-if="main.processingCorreos==='loading'">
        <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
        <span class="sr-only">Cargando desde CorreosChile...</span>
      </div>
      <div ng-if="main.processingCorreos==='done'">
        <ul class="list-group">
          <li class="list-group-item">
            <div class="row">
              <div class="col-md-2">
                <img src="correoschile.png" class="img-responsive img-circle"></img>
              </div>
              <div class="col-md-10">
                <h4>Estado en CorreosChile</h4>
                <ul class="no-bullets">
                  <li><b>ID:</b> {{ main.resultCorreosChile.id }}</li>
                </ul>
                <ul class="no-bullets" ng-if="main.resultCorreosChile.datosgenerales !== {}">
                  <li><b>Envio:</b> {{ main.resultCorreosChile.datosgenerales.Envio }}</li>
                  <li><b>Fecha Entrega:</b> {{ main.resultCorreosChile.datosgenerales.Fecha_Entrega }}</li>
                  <li><b>Entregado a:</b> {{ main.resultCorreosChile.datosgenerales.Entregado_a }}</li>
                  <li><b>RUT:</b> {{ main.resultCorreosChile.datosgenerales.Rut }}</li>
                </ul>
              </div>
            </div>
          </li>
          <li class="list-group-item" ng-repeat="state in main.resultCorreosChile.registros">
            <i class="fa fa-plane fa-fw" aria-hidden="true"></i>
            <b>{{ state.estado }}</b><br>
            {{ state.lugar }} · <i>{{ state.fecha }}</i>
          </li>
        </ul>
        <!--<pre>{{ main.resultCorreosChile | json: 2 }}</pre>-->
      </div>
    </div>
  </div>
</div>